form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.child{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.parent{
    display: flex;
    justify-content: center;
}

.parent > div:not(:last-child){
    margin-right: 370px;
}
.grand_parent{
    display: flex;
    justify-content: center;
}
.grand_parent > div:not(:last-child){
    margin-right: 160px;
}

.discription{
    margin-top: 5vh;
}
.drop_data{
    white-space: nowrap;
    max-height: 125px;
    max-width: none;
    overflow-y: hidden;
    overflow-x: scroll;
}

.uma_image{
    padding: 5px;
    width: 10vh;
    height: 10vh; 
}
#input_point{
    margin-top: 7vh;
}



.lineage_block > div > div > img{
    margin-top: -22.5px !important;
    margin-left: -22.5px !important;
}
.ME, .MO, .FA, .gmMO, .gmFA, .gfMO, .gfFA{
    border: 1px solid black;
    width: 50px;
    height: 50px; 
}

hr{
    border-color: black;
    z-index: -1;
    margin-block: unset;
}

.border{
    width: 425px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.border > hr {
    margin: 0px;
}

.ver{
    width: 0vh;
    height:60px;
}
.hol{
    width: 423px;
    height:0px;
}
.hr_area{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.hol2{
    width: 212px;
    height:0px;
}

.point_view{
    font-size: 2rem;
}


@media screen and (max-width: 1400px) {
    
.lineage_block > div > div > img{
    margin-top: -13px !important;
    margin-left: -13px !important;
    width: 75px;
    height: 75px;
}
    .border{
        width: 150px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .border > hr {
        margin: 0px;
    }
    
    .ver{
        width: 0vh;
        height:60px;
    }
    .hol{
        width: 150px;
        height:0px;
    }
    .hr_area{
        width: 300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .hol2{
        width: 75px;
        height:0px;
    }
    .parent > div:not(:last-child){
        margin-right: 100px;
    }
    .grand_parent > div:not(:last-child){
        margin-right: 30px;
    }
}