.main_board{
    width: 80%;
    margin-right: 5%;
    padding-bottom: 3rem;
    min-height: 75vh;
}
.menu_board{
  width: 20%;
  min-width: 200px;
  margin-right: 0rem;
  background-color: white;
}

.body{
    margin-top: 2rem;
    margin-left: 15%;
    margin-right: 8%;
    display: flex;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 12px;
}


/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
}


.menu_fix{
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}


@media screen and (max-width: 850px) {
  .body{
      margin-top: 2rem;
      margin-right: 10%;
      margin-left: 10%;
      display: block;
  }
	.main_board{
		padding-bottom: .25rem;
		border-bottom: solid 2px rgb(200, 200, 200);
		display: block;
		width: 100%;
    min-height: 0;
	}
  .menu_board{
		width: 100%;
    visibility: hidden;
  }
  .menu_fix{
  }
}