.loading{
    font-size: 5rem;
    text-align: center;
    margin: auto;
    width: 40%;
}


h1{
    font-size: 2rem;
    width: auto;
}

p{
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}


h1::after,
h2::after{
    content: '';
    display: block;
    height: 1px;
    margin-left: -16px;
    background: linear-gradient(to right, #000, rgb(240, 240, 240));
  }

    
code{
    padding: 5px;
    border: solid .1rem rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
}

pre code{
    border: solid 0rem rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: 0rem;
    padding: 0rem;
    margin: 0rem;
}
pre{
    font-size: 1rem;
    border: solid .1rem rgb(155, 155, 155);
    border-radius: .25rem;
    padding: .8rem!important;
    overflow-x: auto!important;
}

a{
    color: blueviolet;
}

ul{
    list-style-type:none;
    border: solid .1rem rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    padding: .75rem;
}

ul li::before{
    content: "»";
    margin-right: 1rem;
}
ul li{
    margin: 0%;
    padding-inline-start: .25rem;
}

ol{
    border: solid .1rem rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    padding: .75rem;
    padding-left: 2.5rem;
}

ol li{
    margin: 0%;
    padding-inline-start: .25rem;
}

.loading_icon{
    margin-top: 5rem ;
    margin-left: 50% ;
}