form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div, form > div > select, form > div > input{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

option{
    content: url("./images/ハルウララ.png");
}
